html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.content-container {
  margin-bottom: 80px;
}

.section-content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-top {
  background-color: #333;
}

.header-bottom-common {
  display: grid;
  border-bottom: 1px solid #d1d4d4;
}

.header-bottom {
  width: 85%;
	justify-self: center;
  background-color: #ffffff;
}

.header-bottom-center {
  text-align: center;
}

/* текст из шапки сайта */
.text-header a {
  color: #ffffff !important;
  line-height: 38px;
  padding: 10px;
}

/* текст из шапки сайта */
.text-header-left {
  margin-left:135px;
  text-align: middle;
}

/* текст из шапки сайта */
.text-header-middle{
  text-align: center;
}

/* текст из шапки сайта */
.text-header-right {
  margin-left: 24px;
  text-align: center;
}

/* линия над заголовком "h3"*/
.header-h{
  text-align: center;
  line-height: 38px;
  font-size: 29px; /* Размер шрифта */
  color: #5a5a5a; /* Цвет заголовка */
}
.header-h:before {
  content: '';
  display: block;
  height: 1px; /* Высота линии */
  width: 150px; /* Ширина линии до наведения */
  margin: 11px auto -6px;
  transition: 1s; /* Время, за которое линия возвращается после наведения */
}
.header-h:hover:before {
  background: #f66d52; /* Цвет линии */
  width: 250px; /* Ширина линии при наведении */
  transition: ease-out 1s; /* Время, за которое линия расширяется при наведении */
}
/*  CSS код для линии под заголовком */
.header-h:after {
  content: '';
  display: block;
  height: 1px; /* Высота линии */
  width: 150px; /* Ширина линии до наведения */
  margin: 2px auto 0px;
  transition: 1s; /* Время, за которое линия возвращается после наведения */
}
.header-h:hover:after {
  background: #f66d52; /* Цвет линии */
  width: 250px; /* Ширина линии при наведении */
  transition: ease-out 1s; /* Время, за которое линия расширяется при наведении */
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: grey; /* Цвет линии */
  color:#ffc107;
}

.sidebarHeader {
  font-size: 25px; /* Размер слова Меню */ 
  padding: 10px;
}

.accountLogin {
  width: 15%;
  vertical-align: middle;
  text-align: center;
}

.image {
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
  display: block; /* тег img – это строковый элемент. Нужно сделать его блоковым*/
}

.logo {
  width: 80%; 
  margin: 0.5em 0 0.5em 0.6em;
}

.image.small {
  margin: auto;
}

.image.middle {
  width: 300px; 
  height: 300px; 
}

.image.big {
  width: 40%; 
  height: 40%;
  margin: auto;
}

.tdJust {
  width: 33%;
  vertical-align: top;
}

.font-text-head {
  font-family:"Proxima Nova";
}

.text-middle {
  font-size: 20px;
}

.text-big {
  font-size: 25px;
}

.td2-text-bold {
  font-weight:bold;
}

.td2-text-bold {
  font-weight:bold;
}

.text-grey {
  color: #8c8c8c;
}

a{
  text-decoration: none !important; 
}
a:hover {
  color: #bd0f2c !important;
}

.a-edit a{
  color: #000000 !important;
}

/* Кнопка Каталог товаров*/
.link a {
  font-size:20px;
  color:rgb(0, 0, 0)!important;
  width:100%;
  padding:10px 10px;
} 

/* Ссылки в левом sidebar */
.refSidebarCatalog {
  font-size: 18px; /* Размер ссылок */ 
}
.refSidebarCatalog:hover {
  background: rgb(226, 212, 205); /* Цвет фона при наведении на ссылку курсора */
  color: rgb(70, 39, 11); /* Новый цвет текста */
}

.gain-right {
  transition: 1s; /* Время эффекта */
}
.gain-right:hover {
  transform: scale(1.05); /* Увеличиваем масштаб */
}

.iconSmall {
  width:20px;
  vertical-align:text-bottom;
}

.vertical-bottom {
  vertical-align:text-bottom;
}

.iconSearch1 {
  width:22px;
}

.iconSearch2 {
  width:18px;
  vertical-align:text-bottom;
}

.buttonSearch {
  background: rgb(250, 163, 64);
  border-radius: 4px;
}

/* Трёхмерная кнопка "Подробнее", (не используется) */
.buttonMore {
  background-color:rgb(105, 105, 105);
  color:rgb(255, 255, 255);
}
.buttonMore:hover {
  box-shadow:
    1px 1px #53ea93,
    2px 2px #53ea93,
    3px 3px #53ea93,
    4px 4px #53ea93,
    5px 5px #53ea93,
    6px 6px #53ea93,
    7px 7px #53ea93;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}

/* Линия под a у элементов "Вход", "Выход", "Регистрация"*/
.underlining a {
  display: inline-block;
  color: #00bfff !important; /* Цвет обычной ссылки */
  line-height: 56px;
  text-decoration: none; /* Убираем подчеркивание */
  cursor: pointer;
}
.underlining a:after {
  background-color: #f66d52; /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 2px; /* Высота линии */
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.underlining a:hover:after,
.underlining a:focus:after {
  width: 100%;
}

.notice{
  text-align: center;
}

.my-pagination {
  color: #000000 !important;
}
.my-pagination-active {
  background-color: #ffc107 !important;
  border-color: #eca712 !important;
}

.link-all-news {
  color:#00bfff;
  font-size: 20px;
}

.products-list {
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  gap: 10px 10px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.products-item {
  text-align: center;
  list-style-type: none;
  border-radius: 7px;
  box-shadow: 0 1px 7px #d3d3d3;
  border: 3mm solid rgb(255, 255, 255);
}
.products-item:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  border: 3mm solid rgb(244, 245, 247); 
}

.products-title {
  padding-top: 5px;
}

.products-list img {
  /*width: 100%;*/
  display: block;
  margin-top: auto;
}

.margin-null { 
  margin: 0em;
}

.site {
  display: grid;
  grid-template-areas: "header" "main" "left-sidebar" "right-sidebar" "footer";     
  gap: 1rem;
  min-height: 100vh;
}

@media (min-width: 1280px) {
  .site {
    grid-template: "header           header             header"         min-content
                   "left-sidebar     main               right-sidebar"  1fr
                   "footer           footer             footer"         min-content
               / minmax(auto, 250px) minmax(250px, 1fr) minmax(auto, 250px);    
  }
}

.header {
  grid-area: header;
  overflow: hidden;
}

.left-sidebar {
  grid-area: left-sidebar;
}

.right-sidebar {
  grid-area: right-sidebar;
}

.main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.products-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.products-item-properties {
  overflow: hidden;
}