.layout {
  width: 85%;
  background-color: white;
  margin:auto;
}

.header {
  text-align: center;
  border: solid 1px rgb(110, 67, 179);
}

.footer {
  text-align: center;
  padding: 20px;
  vertical-align: top;
  border: solid 1px rgb(250, 163, 64);
}

.sidebarHeader {
  font-size: 25px; /* Размер слова Меню */ 
  padding: 10px;
}

.sidebar {
  width: 15%;
  vertical-align: top;
  border: solid 1px rgb(250, 163, 64);
}

.accountLogin {
  width: 15%;
  vertical-align: top;
  padding: 10px;
  border: solid 1px rgb(250, 163, 64);
}

.imageSmall {
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
  margin: auto;
  display: block; /* тег img – это строковый элемент. Нужно сделать его блоковым*/
}

.imageMiddle {
  width: 300px; 
  height: 300px; 
  object-fit: cover; 
  display: block; /* тег img – это строковый элемент. Нужно сделать его блоковым*/
}

.imageBig {
  width: 500px; 
  height: 500px;
  object-fit: cover; 
  margin: auto;
  display: block; /* тег img – это строковый элемент. Нужно сделать его блоковым*/
}

.table2 {
  width:100%;
  height:100%;
  border: 3mm solid rgb(238, 235, 235); 
  vertical-align: top;
}

.td2 {
  width:25%;
  text-align: center;
  padding: 20px;
  vertical-align: top;
  border: 3mm solid rgb(238, 235, 235); 
}

a {
  color: #000000 !important;
  text-decoration: none !important;
}

a:hover {
  color: #bd0f2c !important;
}

.link a { /* Кнопка Каталог товаров*/
  display:block;
  width:100%;
  margin:auto;
  text-align: center;
  padding:10px 10px;
  background:#5d9cee;
  color:rgb(0, 0, 0)!important;
  font-size:20px;
}
  
.link a:hover {
  color:#fff!important;
}

.refSidebarCatalog {
  font-size: 18px; /* Размер ссылок в левом sidebar */ 
}

.refSidebarCatalog:hover {
  background: rgb(226, 212, 205); /* Цвет фона при наведении на ссылку курсора */
  color: rgb(70, 39, 11); /* Новый цвет текста */
}

.iconSearch {
  width:25px;
}

.buttonSearch {
  background: rgb(247, 202, 135) !important; /* Цвет фона при наведении на ссылку курсора */

}